@import "config/color";

.container {
  position: relative;
  width: 100%;
  margin: 5px 0px 1rem;
}

.meter {
  height: 4px;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: rgb(232, 232, 232);
}

.part {
  height: 4px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
}

.label {
  text-transform: uppercase;
  float: right;
  margin-top: 6px;
  line-height: 16px;
  font-size: 14px;
  min-height: 16px;
}

.warning {
  float: left;
  color: $color-orange-light;
  margin-top: 6px;
  line-height: 16px;
  font-size: 11px;
}

.scale {

  &Great {
    width: 100%;
    background-color: rgb(39, 179, 15);
  }

  &Good {
    width: 75%;
    background-color: rgb(166, 192, 96);
  }

  &So {
    width: 50%;
    background-color: rgb(255, 172, 29);
  }

  &Weak {
    width: 25%;
    background-color: rgb(200, 24, 24);
  }
}