@import "config/color";

.container {

  padding: 12px 24px 12px 30px;
  margin: 1em 0;
  border-left: 4px solid $color-gray-dark;
  background-color: $color-gray;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 1.6em;
  text-align: left;
  animation-name: float;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  &:before {
    position: absolute;
    top: 14px;
    left: -15px;
    background-color: $color-gray-dark;
    color: $color-white;
    content: "!";
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: 14px;
  }
}

.title {
  font-size: 1.2em;
  margin-top: 0;
}

.body {
  font-size: 1em;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 2px;

  &:before {
    content: "×";
    display: inline-block;
    font: 1.5em Arial, sans-serif;
    margin-right: 0.5em;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
  }

  &:hover {
    &:before {
      transform: scale(1.25) translateY(0.025em);
    }
  }

  &:active {
    &:before {
      transform: scale(0.9) translateY(0.025em);
    }
  }
}

.alert {
  &Success {
    background-color: $color-green;
    border-color: $color-green-dark;
    color: #ffffff;

    &:before {
      background-color: $color-green-dark;
    }
  }

  &Warning {
    background-color: $color-orange;
    border-color: $color-orange-dark;
    color: #ffffff;

    &:before {
      background-color: $color-orange-dark;
    }
  }

  &Error {
    background-color: $color-red;
    border-color: $color-red-dark;
    color: #ffffff;

    &:before {
      background-color: $color-red-dark;
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(-5px);
  }

  60% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}
