@import "config/color";

.alert {

  padding: 12px 24px 12px 30px;
  margin: 1em 0;
  border-left: 4px solid $color-red;
  background-color: #f8f8f8;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 1.6em;

  text-align: left;

  &:before {
    position: absolute;
    top: 14px;
    left: -15px;
    background-color: $color-red;
    color: $color-white;
    content: "!";
    width: 26px;
    height: 26px;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    font-size: 14px;
  }
}

.title {
  font-size: 1.2em;
  margin-top: 0;
}

.body {
  font-size: 1em;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 2px;

  &:before {
    content: "×";
    display: inline-block;
    font: 1.5em Arial, sans-serif;
    margin-right: 0.5em;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    vertical-align: middle;
  }

  &:hover {
    &:before {
      transform: scale(1.25) translateY(0.025em);
    }
  }
}
