$color-gray-light: #F8F8F5;
$color-gray: #9c9c9c;
$color-gray-dark: #34495e;

$color-black: #000000;
$color-white: #ffffff;
$color-shadwo: rgba(0, 0, 0, .3);
$color-shadwo-hover: rgba(86, 116, 138, 0.16);

$color-green-light: #b5df6b;
$color-green: #579D1B;
$color-green-dark: #3f7114;

$color-purple-light: #d45ceb;
$color-purple: #AE81FC;
$color-purple-dark: #a12ffc;

$color-blue-light: #5cbcef;
$color-blue: #047bf8;
$color-blue-dark: #0362c6;

$color-orange-light: #fbc410;
$color-orange: #e96900;
$color-orange-dark: #e94f07;

$color-red-light: #ef7878;
$color-red: #e74548;
$color-red-dark: #dd2330;

$color-linkedin: #0077b5;
$color-facebook: #3B5998;